main {
  .faq {
    h1 {
      margin-bottom: $size-400;
      color: $clr-neutral-100;
    }
    .feq-contant {
      display: grid;
      gap: $size-400;
      grid-template-columns: repeat(2, 1fr);
      .faq-card {
        border-radius: $btn-radius;
        box-shadow: $bxs-300;
        padding: $size-400;
        background-color: $clr-accent-100;
        header {
          @include flex-jSpace_between-aCenter($j: space-between, $a: center);
          .profile {
            display: flex;
            p {
              margin-left: $size-100;
              display: grid;
              font-size: $fs-200-1;
              font-weight: $fw-600;
              color: $clr-neutral-100;
              span {
                color: $clr-neutral-200;
                font-weight: $fw-600;
                font-size: $fs-100;
              }
            }
          }
        }
        .comments {
          margin: $size-200 0;
          text-align: left;
          font-size: $fs-200-1;
        }

        .faq-card-footer {
          @include flex-jSpace_between-aCenter($j: space-between, $a: center);

          .like-contant {
            @include flex-jSpace_between-aCenter($j: space-between, $a: center);
            span {
              margin-left: $size-100;
            }
          }
          text-transform: capitalize;
          font-size: $fs-200-1;
        }
      }
      .faq-card:first-child {
        height: calc(min(85%, 250px));
      }
      .faq-card:last-child {
        height: calc(min(100%, 250px));
      }
    }
  }
}

@media (min-width: 60em) {
  main {
    .faq {
      .feq-contant {
        grid-template-columns: repeat(3, 1fr);
        .faq-card {
        }
        .faq-card:first-child,
        .faq-card:last-child {
          height: calc(min(80%, 300px));
        }
      }
    }
  }
}

@media (max-width: 40em) {
  main {
    .faq {
      .feq-contant {
        grid-template-columns: repeat(1, 1fr);

        .faq-card:first-child {
          height: calc(min(100%, 300px));
        }
        .faq-card:last-child {
          height: calc(min(100%, 300px));
        }
      }
    }
  }
}
