main {
  .home {
    display: grid;
    // flex-direction: column-reverse;
    gap: $size-800;
    padding-bottom: $size-500;
    grid-template-columns: repeat(2, 1fr);
    .page-intro {
      margin-top: $size-500;
      text-align: left;
      h1 {
        font-size: $fs-600;
        color: $clr-neutral-100;
        line-height: 1.2;
        // max-width: calc(min(100%, 700px));
      }
      p {
        line-height: 1.5;
        font-size: $fs-200-1;
        color: $clr-neutral-200;
        font-weight: $fw-400;
        // max-width: calc(min(100%, 500px));
        margin: $size-200 0;
      }

      .btns {
        display: flex;
        gap: $size-300;
        align-items: center;
        .learn-more-btn {
          padding: 0;
          height: fit-content;
          background-color: transparent;
          color: $clr-primary-100;
          font-weight: $fw-600;
        }
      }

      .followers {
        display: flex;
        width: 40px;
        margin: $size-200 0;

        // translate img to left
        $add: 0;
        @for $var from 1 to 10 {
          &-image:nth-child(#{$var}) {
            transform: translateX(18px * $add);
            $add: -$var;
          }
        }
      }
      .followers-desc {
        width: calc(min(90%, 550px));
        text-align: left;
      }
    }
    .hero-images {
      &-1 {
        display: block;
      }
      &-2 {
        display: none;
      }
    }
  }
}

@media (max-width: 50em) {
  main {
    .home {
      gap: $size-500;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;

      .page-intro {
        margin-top: 0;
      }
      .hero-images {
        // width: calc(min(90%, 450px));
        order: -1;
        // margin: $size-400 0;
        &-1 {
          display: none;
        }
        &-2 {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 30em) {
  main {
    .home {
      .hero-images {
        &-1 {
          display: block;
        }
        &-2 {
          display: none;
        }
      }
    }
  }
}
