.main-header {
  &-contant {
    padding: $size-400 0;
    .nav-links {
      display: none;
    }
  }
}

@media (min-width: 40em) {
  .main-header {
    &-contant {
      @include flex-jSpace_between-aCenter;
      .nav-links {
        display: flex;
        ul {
          @include flex-jSpace_between-aCenter;

          li {
            padding: 0 $size-200;
            a {
              font-size: $fs-200-1;
              font-weight: $fw-500;
              color: $clr-neutral-200;
            }
          }
        }
      }
    }
  }
}
